* {
    margin: 0;
    padding: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    transition: all .3s;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/*====================================== header =============================================== */
header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
    background-color: rgb(28, 0, 41);
    z-index: 1;
}

.h2-header {
    font-size: 30px;
    font-weight: 700;
    color: #edcdff;
    /* text-transform: uppercase; */
    padding: 10px 30px;
}

.ul-header {
    list-style: none;
    display: flex;
    padding: 10px 30px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: space-evenly;
    align-items: center;
}

.li-header{
    margin: 0 10px;
}

@media only screen and (max-width: 887px) {
    header {
        justify-content: center;
    }
}

@media only screen and (max-width: 537px) {
    header {
        justify-content: center;
        
    }

    .ul-header {
        flex-direction: row;
        flex-grow: 1;
        width: 100%;
    }

    .h2-header {
        align-self: center;
    }

    .li-header {
        margin: auto;   
    }
}




.a-header {
    text-decoration: none;
    color: #edcdff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 15px;
    padding: 10px 20px;

}

a.active,
.a-header:hover {
    color: rgb(28, 0, 41);
    background-color: #edcdff;

}

/*====================================== body =============================================== */

body{
    background-color: rgb(0, 0, 0);
    position: relative;
}

/*====================================== grid with CARDs =============================================== */
.container{
    display: flex;
}

.backgroundColor{
    width: 100%;
    display: inline;
    /* background: rgb(34, 34, 34);
    background: linear-gradient(180deg, rgb(27, 0, 49) 0%, rgb(48, 0, 104) 100%); */
    /* background: rgb(32, 32, 32);
    background: linear-gradient(0deg, rgb(41, 27, 54) 0%, rgb(26, 0, 56) 100%); */
    height: 100vh;
    position:fixed;
    z-index: -2;
}

.backgroundSide{
    width: 20%;
    display: inline;
    background-color: #e7bdfd;
    height: 100vh;
    position:fixed;
    z-index: -2;
}

.grid-container {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;

}

.side-div{
    padding: 10px;
    width: 20%;
}

.section{
    width: 80%;
    display: none;
}

.design{
    display: block;
}

.item-container{
    position: relative;
}

.item{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
}

.video-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.item:hover{
    filter: brightness(1.2);
}



/*====================================== Full view CARDs =============================================== */


#blur-background {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #ffffff10;
    backdrop-filter: blur(15px);
    display: none;
    z-index: 1;
}



/*====================================== scroll bar =============================================== */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #aeaeae;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #654294;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #472377;
}



/*====================================== next/previous CARD button =============================================== */

.next_prev{
    width: 100px;
    height: 100px;
    background-color: rgba(50, 29, 68, 0.527);
    position: fixed;
    border-radius: 100%;
    border-color: rgba(255, 255, 255, 0.753);
    border-width: 3px;
    border-style: solid;
    display: none;
    top: 43.5%;
    z-index: 2;
}

#prev-card {
    left: 10%;
}

#next-card {
    right: 10%;
}

.arrow{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #cfcfcf;
    transform: translate(-50%, -50%);
    
}

/*====================================== side div =============================================== */


.side-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.side-img{
    aspect-ratio: 1 / 1;
    width: 80%;
    max-height: 100%;
    border-radius: 50%;
    /* background-image: url("https://drive.google.com/uc?export=download&id=1NdgEE-RUKQhpFE8nY4sc2xA01rqVWEoF"); */
    background-position: center;
    background-size: cover;
}


.side-img:hover{
    transform: rotate(5deg);
    filter:saturate(1.8);
}


.side-sticky{
    position: sticky;
    top : 120px;
}

.hr-side{
    border-color:#654294;
    width: 100%;
    margin: 10px 0;
}


.side-name{
    font-size: larger;
    color: rgb(28, 0, 41);
    font-weight: 100;
    margin: 10px 0px;
}


.side-paragraph{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: small;
    font-weight: 500;
    margin: 5px 0px;
    color: #313131;
}

.about-side{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, rgb(53, 0, 97) 0%, blueviolet 100%);
    font-size: small;
    border-radius: 5px;
    color: #e7bdfd;
    padding: 10px 20px;
    margin: 5px;
}

.about-side:hover{
    transform: scale(1.05);
}


.skill-list{
    list-style: none;
    display: flex;
    align-self: stretch;
    flex-direction: column;
}

.li-side{
    margin: 15px 0;
    padding: 10px 20px;
    color: #e7bdfd;
    background-color: rgb(96, 67, 112);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.li-side.active{
    background-color: rgb(28, 0, 41);
    /* background: linear-gradient(0deg, rgb(53, 0, 97) 0%, #3e2163 100%); */
}

.li-side.empty{
    background-color: rgb(96, 67, 112);
}

.li-side:hover{
    background-color: rgb(28, 0, 41);
}

p.side-name{
    font-size: x-large;
}

/* .li-side.empty:hover{
    background-color: rgb(96, 67, 112);
} */




/* ================================================================================================================
==============================================|| About ME ||======================================================
================================================================================================================*/


.myInfo{
    display: flex;
    flex-direction: row;
    background-color: #edcdff00;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: calc(40px + 0.5vw);
}

.h2-info{
    font-size: 40px;
    font-weight: 700;
    color: rgb(28, 0, 41);
    text-transform: uppercase;
    padding: 10px 30px;
}

.p-info{
    font-size: calc(20px + 0.5vw);
    font-weight: 400;
    color: rgb(231, 189, 253);
    padding: 10px 30px;
    word-spacing: 5px;
    letter-spacing: 4px;
    background-color: rgb(28, 0, 41);
    padding: 30px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.infoParagraph{
    width: 50%;
    min-width: 300px;
}
.myImageContainer{
    width: 50%;
    min-width: 250px;
}
.myImage{
    aspect-ratio: 1/1;
    border-radius: 10%;
    background-image: url(images/ahmed_mas_.png);
    background-position: center;
    background-size: cover;
    min-width: 250px;
    /* filter: saturate(50%); */
}



/* ================================================================================================================
==============================================|| Contact INFO ||======================================================
================================================================================================================*/

footer{
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

header{
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.562));
}

.social-grid{
    display: flex;
    
    flex-wrap: wrap;
}

.h2-contact{
    font-size: 40px;
    font-weight: 700;
    color: #e7bdfd;
    text-transform: uppercase;
    padding: 10px 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.social-grid i{
    font-size: 50px;
    color: #e7bdfd;
    padding: 10px 30px;
    cursor: pointer;
    transition: all .3s;
}

.contact{
    background-color: rgb(28, 0, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.p-contact{
    font-size: 16px;
    font-weight: 400;
    color: #e7bdfd;
    padding: 10px 30px;
    word-spacing: 5px;
    letter-spacing: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.full{
    display: none;
    z-index: 2;
    height: 80vh;
    aspect-ratio: 1/1;
    position: fixed;
    background-position: center;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* ================================================================================================================
==============================================|| Contact Form ||======================================================
================================================================================================================*/

label{
    color: #e7bdfd;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
}

form{
    width: clamp(300px, 50%, 800px);
    border-radius: 10px;
    padding: 40px;
    background-color: #1c0029;
    margin: auto;
    margin-bottom: 50px;
}

input,
textarea{
    background-color: #e7bdfd;
    width: 100%;
    outline-style: none;
    margin: 10px 0;
    padding: 0 15px;
}

input{
    height: 45px;
    font-size: x-large;
}
textarea{
    height: 90px;
    font-size: x-large;
}

.form-title{
    color :#e7bdfd;
    font-size: xx-large;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #e7bdfd;
    text-align: center;
}

.send-btn{
    width: 100%;
    background-color: #e7bdfd;
    border: none;
    color: #1c0029;
    font-size: x-large;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: #1c0029;
}

.send-btn:hover{
    background-color: #1c0029;
    color: #e7bdfd;
    border-style: solid;
    border-color: #e7bdfd;
}

input::placeholder,
textarea::placeholder{
    color: #1c002977;
    font-family: 'Poppins', sans-serif;
    letter-spacing: normal;
}


/* ================================================================================================================
==============================================|| MY Skills ||======================================================
================================================================================================================*/

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(28, 0, 41);
    background: url("images/skills.png") no-repeat fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode:overlay;
    /* background: radial-gradient(circle, rgba(28,0,41,1) 0%, rgb(42, 0, 68) 100%); */
    padding: calc(40px + 0.5vw);
}

.skills-heading{
    font-size: 40px;
    font-weight: 700;
    color: #e7bdfd;
    text-transform: uppercase;
    padding: 15px 30px;
}

.skills-subheading{
    font-size: 16px;
    font-weight: 400;
    color: #e7bdfd;
    padding: 15px 30px;
    word-spacing: 5px;
    letter-spacing: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skills-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-list p{
    margin: 15px 10px;
    padding: 10px 20px;
    color: #e7bdfd;
    background-color: rgb(96, 67, 112);
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    border: 2px solid #e7bdfd;
}
