@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


:root {
    --default-cursor: url('cursors/default.png') 5 5, auto;
    --pointer-cursor: url('cursors/pointer.png') 5 5, pointer;
}

* {
    cursor: var(--default-cursor);
    margin: 0;
    padding: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    transition: all .3s;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a,button,iframe{
    cursor: var(--pointer-cursor) !important;
}

/*====================================== NAVBAR =============================================== */

header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
    background-color: rgb(28, 0, 41);
    z-index: 5;
}

.h2-header {
    font-size: calc(10px+2vmin);
    font-weight: 700;
    color: #edcdff;
    /* text-transform: uppercase; */
    /* padding: 10px 30px; */
    padding: 0px 30px;
    margin-top: 10px;
}

.ul-header {
    list-style: none;
    display: flex;
    padding: 10px 30px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: space-evenly;
    align-items: center;
}

.li-header {
    margin: 0 10px;
}

@media only screen and (max-width: 728px) {
    header {
        justify-content: center;

    }

    .ul-header {
        flex-direction: row;
        flex-grow: 1;
        width: 100%;
    }

    .h2-header {
        align-self: center;
        padding-bottom: 0;
    }

    .li-header {
        margin: auto;
    }

    .a-header {
        font-size: 16px;
        font-weight: 700;
    }
}




.a-header {
    text-decoration: none;
    color: #edcdff;
    font-size: calc(10px + 0.5vw);
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 20px;

}

.a-header.active,
.a-header:hover {
    color: rgb(28, 0, 41);
    background-color: #edcdff;

}

/*====================================== body =============================================== */

body {
    background-color: rgb(0, 0, 0);
    position: relative;
}



a{
    text-decoration: none;
}

/*====================================== scroll bar =============================================== */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d2a1ff
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#3a0055;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1c0029;
}



/* ================================================================================================================
==============================================|| Contact INFO (footer) ||======================================================
================================================================================================================*/

footer {
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

header {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.562));
}

.social-grid {
    display: flex;
    flex-wrap: wrap;
}

.h2-contact {
    font-size: 40px;
    font-weight: 700;
    color: #e7bdfd;
    text-transform: uppercase;
    padding: 10px 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.social-grid i {
    font-size: 50px;
    color: #e7bdfd;
    padding: 10px 30px;
    cursor: var(--pointer-cursor);
    transition: all .3s;
}

.fa-solid {
    color: #e7bdfd;
}

.contact {
    background-color: rgb(28, 0, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.p-contact {
    font-size: 16px;
    font-weight: 400;
    color: #e7bdfd;
    padding: 10px 30px;
    word-spacing: 5px;
    letter-spacing: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.full-container {
    display: none;
    z-index: 2;
    height: 80vh;
    width: 80vw;
    position: fixed;
    /* background-position: center;
    background-size: cover; */
    /* overflow: hidden; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #020003;
    background-color: #0b000da5;
    border-radius: 10px;
}

.full{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    /* position: fixed; */
    z-index: 4;
    border: none;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .full-container{
        height: 60vh;
    }
    
}

.social-item-contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    margin: 5px 0;
    justify-content: center;
    align-items: center;
    color: #e7bdfd;
}



@media screen and (max-width: 768px) {
    .social-grid i {
        font-size: 30px;
        padding: 5px 10px;
    }

    .h2-contact {
        font-size: 20px;
    }

    .p-contact {
        font-size: 12px;
    }

    .social-item-contact {
        font-size: 12px;
    }

}



/* =================================================================
==================== moving background =======================================*/

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 50% -100%;
        /* Move background to the top-right */
    }
}

#animated-background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #d2a1ff;
    opacity: 0.7;
    z-index: -1;
    background-image: linear-gradient(#9200de 1.3px, transparent 1.3px), linear-gradient(to right, #9200de 1.3px, #d2a1ff 1.3px);
    background-size: 26px 26px;
    animation: moveBackground 150s linear infinite;
}